{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <section class="hero">
        <div class="hero-content">
            <div>
                <h1>Hola, soy Snayder Cedeño </h1>
                <p>Desarrollador web apasionado por crear experiencias digitales únicas.</p>
            </div>
        </div>
    </section>

    <section class="about-me">
        <h2>Sobre Mí</h2>
        <p>
            Me encanta diseñar y construir aplicaciones web que sean tanto funcionales como estéticamente atractivas. 
            Mi objetivo es utilizar mis habilidades para resolver problemas y crear soluciones innovadoras.
        </p>
    </section>

    <section class="skills">
        <h2>Habilidades Destacadas</h2>
        <ul>
            <li>Desarrollo Frontend (HTML, CSS, JavaScript)</li>
            <li>Frameworks y Librerías (React, Vue, etc.)</li>
            <li>Desarrollo Backend (Python, Django, Node.js)</li>
            <li>Bases de Datos (SQL, NoSQL)</li>
            <li>Diseño UI/UX</li>
        </ul>
    </section>

    <section class="portfolio">
        <h2>Proyectos Destacados</h2>
        </section>
</div>
{% endblock content %}
